<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64197882688-0mct73v0gfag4jejrro8787l2vu8mdrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64197882688-0mct73v0gfag4jejrro8787l2vu8mdrd</string>
	<key>API_KEY</key>
	<string>AIzaSyDs4in1vaCzVnuXmmypvPI1ZXdEBKyvLUY</string>
	<key>GCM_SENDER_ID</key>
	<string>64197882688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.afadApp</string>
	<key>PROJECT_ID</key>
	<string>afad-app-23</string>
	<key>STORAGE_BUCKET</key>
	<string>afad-app-23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64197882688:ios:ddb550b1a35cdc369ac0a5</string>
</dict>
</plist>